*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --textTitle: #FFFFFf;
    --textSubTitle:#d4cfcf;
    --background: #000000;
    --textFooter: #a09b9b;
    --backgroundFooter: #85161D;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
} 

button{
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h3 > a, label, strong, p{
    color: var(--textTitle);
}
.container{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
}


@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media(max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

