.filme-info{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.filme-info h3 {
    text-align: justify;
    margin-top: 20px;
}
.filme-info img {
    border-radius: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
}
