.lista-filmes{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
.lista-filmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
article a {
    color: white;
    margin-top: 40px;
    font-size: 26px;
    background-color: #85161d;
    width: 100%;
    text-align: center;
}
article a:hover{
    background-color: blueviolet;
    font-weight: bold;
}
.sinopse{
    padding: 30px 100px;
}
.nomeFilme{
    padding-top: 20px;
    padding-bottom: 20px;
}
@media(max-width:450px){
    .img-Fluid {
        width: 335px;
        padding: 0 10px;
    }
    .sinopse {
        padding: 30px 10px;
    }
}
